@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

// Fuente primaria global
$font-primary: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;

// _variables.scss

// ... tus colores existentes ...

// Tipografía
$font-family-heading: 'Cormorant Garamond', serif;
$font-family-body: 'Raleway', sans-serif;

// Pesos
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;