@use "./fonts" as fonts;
@use "./variables" as vars;

body {
    font-family: fonts.$font-primary;
    margin: 0;
    padding: 0;
    background-color: vars.$color-background;
    color: vars.$color-dark;
    font-size: 16px;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: fonts.$font-family-heading;
    font-weight: fonts.$font-weight-bold;
    line-height: 1em;
    padding: 0;
}