@import "./fonts";
@import "./variables";

body {
    font-family: $font-primary;
    margin: 0;
    padding: 0;
    background-color: $color-background;
    color: $color-dark;
    font-size: 16px;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-heading;
    font-weight: $font-weight-bold;
    line-height: 1em;
    padding: 0%;
}