@use "./fonts";
@use "./variables";

body {
    font-family: $font-primary;
    margin: 0;
    padding: 0;
    background-color: $color-background;
    color: $color-dark;
    font-size: 16px;
    line-height: 1.5;
}

h2 {
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    font-size: 40px;
    color: $color-dark;
    font-weight: 700;
}

h3 {
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    font-size: 24px;
    color: #666;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-primary;


    line-height: 1em;
    padding: 0%;
}