$color-secondary: #bad381;
$color-on-secondary: #f8f6f6;
$color-primary: #898dca;
$color-on-primary: #FFF;
$color-background: #f3f9ff;
$color-soft-gray: #DCDBE0;
$color-dark: #370136;
$color-earth: #594226;