$color-primary: #bad381;
$color-on-primary: #FFF;
$color-secondary: #AEA9E0;
$color-on-secondary: #1C160A;
$color-background: #FDFDFD;
$color-soft-gray: #DCDBE0;
$color-dark: #1C160A;
$color-earth: #594226;