$color-secondary: #bad381;
$color-on-secondary: #f8f6f6;
$color-primary: #b2acf5;
$color-on-primary: #FFF;
$color-background: #FDFDFD;
$color-soft-gray: #DCDBE0;
$color-dark: #1C160A;
$color-earth: #594226;