@import "../../assets/styles/base/fonts";
@import "../../assets/styles/base/variables";

.video-player {
    margin-bottom: 2rem;
}



p {
    font-family: $font-family-body;
    letter-spacing: 1px;
    line-height: 1.75em;


}

.subtitle {
    font-weight: $font-weight-bold;
}