/* components/popover/popover.scss */

.popover-content {
    z-index: 50;
    width: 18rem; // w-72
    padding: 1rem; // p-4

    border-radius: 0.375rem; // rounded-md
    border: 1px solid var(--border);
    background-color: var(--popover);
    color: var(--popover-foreground);

    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -4px rgba(0, 0, 0, 0.1);

    outline: none;
    transform-origin: var(--radix-popover-content-transform-origin);

    /* Animations */
    &[data-state='open'] {
        animation: popover-fade-in 150ms ease-out,
            popover-zoom-in 150ms ease-out;
    }

    &[data-state='closed'] {
        animation: popover-fade-out 150ms ease-in,
            popover-zoom-out 150ms ease-in;
    }

    &[data-side='bottom'] {
        animation-name: popover-slide-from-top;
    }

    &[data-side='top'] {
        animation-name: popover-slide-from-bottom;
    }

    &[data-side='left'] {
        animation-name: popover-slide-from-right;
    }

    &[data-side='right'] {
        animation-name: popover-slide-from-left;
    }
}

/* Keyframes */

@keyframes popover-fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes popover-fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes popover-zoom-in {
    from {
        transform: scale(0.95);
    }

    to {
        transform: scale(1);
    }
}

@keyframes popover-zoom-out {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0.95);
    }
}

@keyframes popover-slide-from-top {
    from {
        transform: translateY(-0.5rem);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes popover-slide-from-bottom {
    from {
        transform: translateY(0.5rem);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes popover-slide-from-left {
    from {
        transform: translateX(-0.5rem);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes popover-slide-from-right {
    from {
        transform: translateX(0.5rem);
    }

    to {
        transform: translateX(0);
    }
}