/* components/editor-toolbar/editor-toolbar.scss */

.editor-toolbar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    gap: 0.5rem;
    padding: 0.25rem;

    border-bottom: 1px solid var(--border);
}